<div class="post">


<h1>Blog posts</h1>

<h3>Posts List </h3>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <p>
    Created by <%= post.admin_user.name %>
  </p>
  <p>
    <%= post.body %>
  </p>
<% end %>
</div>
