<h1>Blog posts</h1>

<h3>Posts List </h3>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <p>
    <%= post.body %>
  </p>
<% end %>
<%= link_to "Add new post", new_post_path %>
